<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isUse</key>
		<true/>
		<key>headerDes</key>
		<string></string>
		<key>footerDes</key>
		<string></string>
		<key>dataArray</key>
		<array>
			<dict>
				<key>moduleName</key>
				<string>预计成交月</string>
				<key>isUse</key>
				<true/>
				<key>isRequired</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
			<dict>
				<key>moduleName</key>
				<string>节点名称</string>
				<key>isUse</key>
				<true/>
				<key>isRequired</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>isUse</key>
		<true/>
		<key>headerDes</key>
		<string></string>
		<key>footerDes</key>
		<string></string>
		<key>dataArray</key>
		<array>
			<dict>
				<key>moduleName</key>
				<string>备注说明</string>
				<key>isUse</key>
				<true/>
				<key>isRequired</key>
				<true/>
				<key>moduleIcon</key>
				<string>downArrow.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>isUse</key>
		<true/>
		<key>headerDes</key>
		<string></string>
		<key>footerDes</key>
		<string></string>
		<key>dataArray</key>
		<array>
			<dict>
				<key>moduleName</key>
				<string>保存按钮</string>
				<key>isUse</key>
				<true/>
				<key>isRequired</key>
				<true/>
				<key>moduleIcon</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
